:root {
    font-family: 'Rubik', sans-serif;
    

}

.header {
    position:fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Rubik', sans-serif;
    width: 100vw;
    height: 100wh;
    background-color: white;

}

.header .logo {
    width: 155px;
    padding: 10px;
}
.header .contenedor-botones {
    text-align: center;
    font-family: 'Rubik', sans-serif;
    padding-bottom: 13px;
    list-style: none;
    
}
.enlace {
    text-decoration: none;
    color: #4a4a4a;
    text-transform: capitalize;
    

}
.blog {
    display: inline;
    padding-right: 20px;
}
.contacto {
    display: inline;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #3CDBC0;
    width: 100vw;
    height: 100vh;
}

.title {
    width: 7ch;
    font-family: 'Rubik', sans-serif;
    font-weight: 800;
    line-height: 40px;
    color: #FFFFFF;
    font-size: 30px;
    text-transform: capitalize;

}

@media screen and (min-width: 768px) {
    .header {
        box-sizing: border-box;
        flex-direction: row;
        justify-content: space-between;
        padding-right: 30px;
        padding-left: 20px;
        padding-bottom: 20px;
        padding-top: 20px;
    }
    .title {
        font-size: 40px;
    }
}